* {
  box-sizing: border-box;
}

.flex_container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.flex_item_kiri {
  background-color: chartreuse;
  padding: 10px;
  flex: 50%;
}

.flex_item_kanan {
  background-color: mediumvioletred;
  padding: 10px;
  flex: 50%;
}

/*layout responsif, dimana 2 kolom flexbox akan menjadi 1 kolom jika ukuran halaman / screen di bawah 800px */
@media (max-width: 800px) {
  .flex_item_kanan,
  .flex_item_kiri {
    flex: 100%;
  }
}
